body {
  position: relative;
  margin-left: 100px;
  margin-right: 100px;
}
app-tab {
  top: 50px;
  position: relative;
  z-index: 100;
}
.add-button {
  position: absolute;
  bottom: 50px;
  right: 50px;
  z-index: 100;
  width: 15%;
  height: fit-content;
}
app-buttons {
  position: relative;
  z-index: 100;
}

.swap-tab-replace {
  width: 100%;
  height: 22px;
}
.info-project-main{
  display: flex;
  gap: 20px;
  align-items: center;
}
img{
  cursor: pointer;
  width: 40px;
  height: 40px;
}
.onUpdateProject :hover{
  background-color: var(--primary);
  border-radius: 10px;
}
h2{
  margin: 0;
  font-size: 65px;
  color: var(--police-color);
}
p{
  margin: 0;
  padding-left: 62px;
  color: rgba(255, 255, 255, 0.7);
  font-size: 22px;
}

.popup{
  margin-top: -15vw;
}
.goback{
  border-radius: 10px;
  border: solid var(--police-color-grise);
  position: absolute;
  left: 5%;
  top: 135px;
  width: 50px;
  height: 50px;
}
.goback:hover{
  background-color: var(--primary);
}