body {
  position: relative;
  margin-left: 100px;
  margin-right: 100px;
}
app-tab {
  top: 50px;
  position: relative;
  z-index: 100;
}
.add-button {
  position: absolute;
  bottom: 50px;
  right: 50px;
  z-index: 100;
  width: 15%;
  height: fit-content;
}
app-buttons {
  position: relative;
  z-index: 100;
}

.swap-tab-replace {
  width: 100%;
  height: 22px;
}
