
.grid-table {
  width: 100%;
  color: var(--police-color);
}
.grid-row {
  
  display: grid;
  grid-template-columns: 1.2fr 2fr 1fr;
  align-items: center;
  height: 64px;
  padding: 0 12px;
  border-bottom: 1px solid var(--police-color);
}
.grid-row.clickable{
  cursor: pointer;
}

.grid-row.header {
  font-weight: 700;
  font-size: 16px;
  color: var(--police-color);
  border-bottom: 1px solid var(--police-color);
}

.right {
  text-align: left;
  padding-left: 10%;
}

.grid-row:not(.header):hover {
  background: rgba(255, 255, 255, 0.035);
}


