
<div class="grid-table">
  <div class="grid-row header">
    @if (projet() === "PROJECT") {
      <div>Nom</div>
      <div>Nombre de services</div>
      <div class="right">Création</div>
    }

    @if (projet() === "USER") {
      <div>Username</div>
      <div>Nom</div>
      <div class="right">Rôle</div>
    }

    @if (projet() === "SERVICE") {
      <div>Nom</div>
      <div>Status</div>
      <div class="right">Action</div>
    }
  </div>

  <!-- BODY (1 ligne) -->
  @switch (projet()) {
    @case ("PROJECT") {
      <div class="grid-row clickable" (click)="onRowClickProject(PROJECT())">
        <div>{{ PROJECT().name }}</div>
        <div>{{ PROJECT().services.length }}</div>
        <div class="right">{{ PROJECT().createdAt | date:'short' }}</div>
      </div>
    }

    @case ("USER") {
      <div class="grid-row clickable" (click)="onRowClickUser(USER())">
        <div>{{ USER().username }}</div>
        <div>{{ USER().name }}</div>
        <div class="right">{{ USER().role }}</div>
      </div>
    }

    @case ("SERVICE") {
      <div class="grid-row clickable" (click)="onRowClickService(SERVICE())">
        <div>{{ SERVICE().name }}</div>
        <div>
          <app-status-tab [status]="SERVICE().status"></app-status-tab>
        </div>
        <div class="right">
          <app-up-down-button [InitStat]="SERVICE().status === 'UP'"></app-up-down-button>
          <app-reload-button [serviceToReload]="SERVICE()"></app-reload-button>
        </div>
      </div>
    }
  }