table {
    width: 100%;
    border-collapse: collapse;
    position: relative;
}
th{
    
    font-style: bold;
    font-size: large;
}
th, td {
    padding: 12px 22px;
    justify-content: space-between;
    text-align: center;
    padding-right: 10%;
    border-bottom: 1px solid var(--police-color);
    display: table-cell;
}
th:first-child , td:first-child {
    position: absolute;
    left: 10;
    padding-right: 0%;
    padding-left:2%;
    
}
th:last-child , td:last-child {
    position: absolute;
    right: 0;
    text-align: left;
    padding-right: 2%;
    
}
.actions {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  align-items: center;
}
.table {
    display: grid;
}