
<div class="grid-table">
  <div class="grid-row header">
    @if (projet() === "PROJECT") {
      <div>Nom</div>
      <div>Nombre de services</div>
      <div class="right">Création</div>
      <div></div>
    }

    @if (projet() === "USER") {
      <div>Username</div>
      <div>Nom</div>
      <div class="right">Rôle</div>
      <div></div>
    }

    @if (projet() === "SERVICE") {
      <div>Nom</div>
      <div>Status</div>
      <div>Restart</div>
      <div class="right">Action</div>
      
    }
  </div>

  <!-- BODY (1 ligne) -->
  @switch (projet()) {
    @case ("PROJECT") {
      @for (p of PROJECT(); track $index){
      <div class="grid-row clickable" (click)="onRowClickProject(p)">
        <div>{{ p.Name }}</div>
        <div>{{p.serviceCount}}</div>
        <div class="right">{{ p.CreatedAt | date:'short' }}</div>
      </div>
       }  
    }

    @case ("USER") {
      @for (u of USER(); track u.Id){
      <div class="grid-row clickable" (click)="onRowClickUser(u)">
        <div>{{ u.Username }}</div>
        <div>{{ u.Name }}</div>
        <div class="right">{{ u.Role }}</div>
      </div>
    }
  }
    @case ("SERVICE") {
      @for (s of SERVICE(); track s.Uuid){
      <div class="grid-row clickable" (click)="onRowClickService(s)">
        <div>{{ s.Name }}</div>
        <div>
          <app-status-tab [status]="s.Status.libelle"></app-status-tab>
        </div>
        <div class="right">
          <app-up-down-button [InitStat]="s.Status.libelle === 'up'"></app-up-down-button>
        </div>
        <div>
          <app-reload-button [serviceToReload]="s"></app-reload-button>
        </div>
      </div>
      }
    }
  }