.input {
  width: 100%;
  background: var(--card-background);
  border: 1px solid var(--secondary-3);
  color : var(--text-color);
  padding : 11px;
  border-radius: var(--radius);
  font-size: 1.2rem;
}
