.status{
    display: flex;
    align-items: center;
    gap: 10px;
}
.Down{
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background-color: var(--error);
}
.Up{
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background-color: var(--success);
}
.Loading{
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background-color: var(--warning);
}