.status{
    display: flex;
    align-items: center;
    gap: 10px;
}
.Down{
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background-color: red;
}
.Up{
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background-color: green;
}
.Loading{
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background-color: yellow;
}