.UpBtn{
    height: 40px;
    width: 40px;
    background-color: darkgreen;
    align-items: center;
    border-radius: 35px;
    border :none;
}
.UpBtn:hover {
    background-color: rgb(5, 51, 5);
}
.UpBtn:active {
    transform: translateY(1px);
    box-shadow: 0 2px 0 rgb(2, 43, 2);
}

.DownBtn{
    height: 40px;
    width: 40px;
    background-color: rgb(184, 4, 4);
    align-items: center;
    border-radius: 35px;
    border :none;
}

.DownBtn:active {
    transform: translateY(1px);
    box-shadow: 0 2px 0 darkred;
}
.DownBtn:hover {
    background-color: darkred;
}
img {
    height: 22px;
    width: 22px;
}