.login-input {
  all: unset;
  width: 100%;
  background: transparent;
  padding : 15px 1.5vw;
  border-bottom: solid 1px var(--background);
  color: var(--background);
  font-size: clamp(1em, 1vw, 1.2em);
  box-sizing: border-box;
  font-weight: bold;
  text-align: left;
}
