.center-content{
  padding-left: 5vw;
}

h1{
  font-size: 5vw;
  font-weight: 400;
}

.pen{
  padding-top: 8.2vw;
}

.name-and-content{
  padding-top: 0.75vw;
  padding-left: 0.5vw;
  display: flex;
  font-size: 1vw;
}

.name{
  margin-right: 0.75vw;
  color: #796a7e;
}

.top{
  display: grid;
  grid-template-columns: repeat(2, 30vw);
  padding-top: 4vw;
}

.flex{
  display: flex;
}
