.global{
  display: flex;
  gap: 75px;
}
.left-content{
  padding-left: 5vw;
}
.right-content{
  display: flex;
  gap: 40px;
  align-content: center;
  flex-direction: column;
}

h1{
  font-size: 55px;
  font-weight: 400;
}

.pen{
  padding-top: 8.2vw;
}

.name-and-content{
  padding-top: 0.75vw;
  padding-left: 0.5vw;
  display: flex;
  font-size: 1vw;
}

.bar-image{
  padding-top: 50px;
  width: 30%;
  border-bottom: 1px solid var(--police-color);
}

.name{
  margin-right: 0.75vw;
  color: #796a7e;
}

.top{
  display: grid;
  grid-template-columns: repeat(2, 20vw);
  padding-top: 2vw;
}

.flex{
  display: flex;
}
img{
  margin-top: 30px;
  cursor: pointer;
  width: 40px;
  height: 40px;
}
.info-project-main{

  display: flex;
  gap: 20px;
  align-items: center;
}
.onUpdateService :hover{
  background-color: var(--secondary-3);
  border-radius: 10px;
}
p{
  margin: 0;
  color: rgba(255, 255, 255, 0.7);
  font-size: 22px;
}
.goback{
  border-radius: 10px;
  border: solid var(--police-color-grise);
  position: absolute;
  left: 5%;
  top: 135px;
  width: 50px;
  height: 50px;
}
.goback:hover{
  background-color: var(--secondary-3);
}

.popup{
  margin-top: -15vw;
}
canvas{
  width: 105%;
  border: solid var(--primary);
  border-bottom: 5px;
  border-top: 5px;
  border-radius: 5px;
}