.container-popup {
  position: fixed;
  width: 40vw;
  height: 22vw;              /* CONTRAINTE */
  background-color: var(--card-background);
  border-radius: 1vw;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.center-contain {
  position: fixed;
  inset: 0;
  display: flex;
  align-items: center;     /* CENTRE VERTICALEMENT */
  justify-content: center; /* CENTRE HORIZONTALEMENT */
  z-index: 200;
}


/* Header */
.contain-top {
  flex-shrink: 0;
  height: 4vw;
  border-bottom: 2px solid #796a7e;
  margin: 0 2vw;
}

/* Content */
.popup-content {
  flex: 1;                   /* PREND L’ESPACE DISPO */
  overflow: hidden;
}

/* Colonnes */
.cote-a-cote {
  display: flex;
  height: 100%;
}

.side {
  width: 50%;
  display: flex;
  flex-direction: column;
  padding: 1vw;
}

.side:first-child {
  border-right: 2px solid #796a7e;
}

/* Scroll réel */
.side-scroll {
  flex: 1;
  overflow-y: auto;          /* SCROLL ICI */
}

/* Footer */
.popup-footer {
  flex-shrink: 0;
  height: 5vw;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 2vw;
}

.space-button {
  margin-right: 1vw;
}
