.blur{
  position: fixed;
  top: 0;
  left: 0;
  inset: 0;
  z-index: 250;
  backdrop-filter: blur(10px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-popup {
  position: fixed;
  width: 40vw;
  height: 22vw;
  background-color: var(--card-background);
  border-radius: 1vw;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.contain-top {
  height: 4vw;
  width: 70%;
  margin: 0 2vw 20px;
  border-bottom: 2px solid #796a7e;
}

/*.contain-top h1 {*/
/*  text-align: center;*/
/*  text-decoration-line: underline;*/
/*  text-decoration-thickness: 2px;*/
/*  text-underline-offset: 6px;*/
/*  text-underline-color: #796a7e;*/
/*}*/


.popup-content {
  overflow: hidden;
}

.cote-a-cote {
  display: flex;
  height: 100%;
  padding: 0 1.5vw;
}

.side {
  width: 50%;
  display: flex;
  flex-direction: column;
  padding: 0 1vw;
}

.side:first-child {
  border-right: 2px solid #796a7e;
}

.side-scroll {
  overflow-y: auto;
}

.side-scroll h3 {
  text-decoration: underline;
  margin-bottom: 25px;
}

.popup-footer {
  flex-shrink: 0;
  height: 5vw;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 2vw;
}

.space-button {
  margin-right: 1vw;
}
