.container-popup{
  min-width: 35vw;
  min-height: 20vw;
  z-index: 200;
  position: fixed;
  background-color: #582B58;
  border-radius: 1vw;
}

.blur{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  backdrop-filter: blur(10px);
}
