* h1{
 font-family: "Roboto Light", sans-serif;
  font-weight: 100;
  color: #F9FAFB;
  font-size: 1.4vw;
}
.container-popup{

  width: 30vw;
  height: 17vw;
  background-color: #582B58;
  border-radius: 1vw;
}

.center-contain{
  display: flex;
  justify-content: center;
}

.contain-top{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 1.2vw;
}

.icon-alert-delete{
  width: 5vw;
  height: 5vw;
  background-color: #FF6B6B;
  border-radius: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-alert-error{
  width: 5vw;
  height: 5vw;
  background-color: #FFD666;
  border-radius: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-alert-success{
  width: 5vw;
  height: 5vw;
  background-color: #77ED8B;
  border-radius: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.center-text{
  display: flex;
  text-align: center;
  width: 18vw;
}

* img{
  width: 2.5vw;
  height: 2.5vw;
}
