:root {
  --background: #201320;
  --primary: #92549C;
  --secondary: #E796F3;
  --secondary-2: #F4D4F4;
  --secondary-3: #D47CC1;
  --police-color: #F9FAFB;
  --police-color-grise: #DFE3E8;
  --card-background: #582B58;
  --success: #77ED8B;
  --warning: #FFD666;
  --error: #FF6B6B;
  --radius: 0.3rem
}

body {
  background-color: var(--background);
  color: var(--police-color);
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}
