.profile-link {
  text-decoration: none;
  color: inherit;
}

.userStatusCard {
  align-items: center;
  display: flex;
  gap: 35px;
  padding: 0;
  border: solid;
  border-color: var(--police-color);
  border-radius: 40px;
  transition-duration: 200ms;
}

.userStatusCard:hover {
  background-color: rgba(255, 255, 255, 0.2);
  cursor: pointer;
}

.userStatusCard img {
  width: 50px;
  height: auto;
  margin-right: 15px;
  border-radius: 150px;
}

.userStatusCard p {
  font-size: 30px;
  width: fit-content;
  color: var(--police-color);
  font-weight: 1000;
  margin: 2px 0 2px 15px
}

@media screen and (max-width: 900px) {

  .userStatusCard p {
    font-size: 20px;
  }

  .userStatusCard img {
    width: 40px;
  }

}
