
.userStatusCard{
  align-items: center;
  display: flex;
  gap: 50px;
  width: auto;
  max-width: auto;
  min-width: auto;
  border: solid;
  border-color: white;
  border-radius: 40px;
}
.userStatusCard p{
    width: fit-content;
}
.userStatusCard img {
    width: 40px;
    height: 40px;
    margin-right: 15px;
    border-radius: 150px;
}
.userStatusCard p {
    margin-left: 15px;
    color: white;
    font-family: "Roboto Light", sans-serif;
    font-weight: bold;
}