.tabs {
  display: flex;
  align-items: center;
  gap: 16px;
}

.tabs a {
  color: white;              /* couleur par défaut */
  text-decoration: none;
  font-size: 22px;
  transition: color 0.2s ease;
}

.tabs a.active {
  color: #e38acb;            /* rose pour l’actif */
  font-weight: 600;
}

.dot {
  width: 6px;
  height: 6px;
  background: white;
  border-radius: 50%;
}
