* h1{
  font-family: "Roboto Light", sans-serif;
  font-weight: 400;
  color: #F9FAFB;
  font-size: 2.5vw;
}

.container-popup{
  min-width: 35vw;
  min-height: 20vw;
  z-index: 200;
  position: fixed;
  background-color: #582B58;
  border-radius: 1vw;
}

.center-contain{
  padding-top: 11vw;
  display: flex;
  justify-content: center;
}

.blur{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  backdrop-filter: blur(10px);
}

.contain-top{
  margin-left: 1.5vw;
  margin-top: -0.5vw;
  width: auto;
  height: 3.8vw;
  border-bottom: #796a7e 2px solid;
  margin-right: 5vw;
  padding-right: 3vw;
}



