* h1{
  font-family: "Roboto Light", sans-serif;
  font-weight: 400;
  color: var(--police-color);
  font-size: 2.5vw;
}

.container-popup{
  min-width: 40vw;
  min-height: 22vw;
  z-index: 200;
  position: fixed;
  background-color: var(--card-background);
  border-radius: 1vw;
}

.space-button{
  margin-right: 1vw;
}

.btnadd{
  margin-top: 0.5vw;
  width: 106%;
}

.compressor-flex{
  display: flex;
  position: absolute;
  right: 1%;
  bottom: 1.5vw;
  width: 40%;
}

.flex-cote{
  padding-top: 1vw;
  margin-left: 5%;
  display: flex;
  width: 90%;
}

.center-contain{
  padding-top: 11vw;
  display: flex;
  justify-content: center;
}

.left-contain{
  width: 50%;
}

.right-contain{
  margin-left: 10%;
  width: 30%;
}

.blur{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  backdrop-filter: blur(10px);
}

.contain-top{
  margin-left: 1.5vw;
  margin-top: -0.5vw;
  width: auto;
  height: 3.8vw;
  border-bottom: #796a7e 2px solid;
  margin-right: 5vw;
  padding-right: 3vw;
}



