<div class="blur"></div>
<div class="center-contain">
  <div class="container-popup">
    <form [formGroup]="getType() == 'Projet' ? formProjet : formService" (ngSubmit)="Submit()">
      <div class="contain-top">
        <h1>{{ getType() + " " + getAction() }}</h1>
      </div>
      <div class="">
        @if (getType() == "Projet") {
          <div class="contain-project">
            <h2>Nom du projet :</h2>
            <app-inputs formControlName="name" required></app-inputs>
          </div>
        } @else if (getType() == "Service") {
          <div class="flex-cote">
            <div class="left-contain">
              <h2>Nom du service :</h2>
              <app-inputs formControlName="name" required></app-inputs>
              <h2>Image :</h2>
              <app-inputs formControlName="image" required></app-inputs>
            </div>
            <div class="right-contain">
              @for (portCtrl of portsArray.controls; track portCtrl; let idx = $index) {
                <h2>Port {{ idx + 1 }} :</h2>
                <app-inputs [formControl]="portCtrl"></app-inputs>
              }
              <div class="btnadd">
                <app-buttons label="+" type="button" (clicked)="addPort()" backgroundColor="secondary-3"
                             size="large"></app-buttons>
              </div>
            </div>
          </div>
        }
      </div>
      <div class="compressor-flex">
        <div class="space-button">

          <app-buttons (clicked)="closePopupSubmit()" type="button" label="Annuler" backgroundColor="card-background"
                       border="secondary-3"
                       size="medium"></app-buttons>
        </div>
        <app-buttons [label]=getButtonName() backgroundColor="secondary-3" size="medium"></app-buttons>
      </div>
    </form>
  </div>
</div>

