.layout_content {
  padding: 10px;
  margin-top: 50px;
  max-width: 85vw;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 900px) {
  .layout_content {
    max-width: 100%;
    padding: 0;
  }
}
