.center-block{
  justify-content: center;
  text-align: center;
  align-content: center;
  display: flex;
  flex-direction: column;
  margin-top: 4vw;
}

.text-field{
  width: 25%;
  margin: 3vw auto auto;
}

h1{
  color: #201320;
  font-size: 2.5vw;
}

.button-size{
  width: 16%;
  margin: 3vw auto auto;
}

.bubble{
  height: 2vh;
  width: 2vh;
  border-radius: 10vh;
  border: 3px solid white;
}

.error-text {
  color: #E54D2E;
  font-weight: bold;
}

.error {
  height: 1vh;
  margin: 2vw auto auto;
}
