* h1{
 font-family: "Roboto Light", sans-serif;
  font-weight: 100;
  color: #F9FAFB;
  font-size: 1.4vw;
}
.container-popup{
  z-index: 200;
  position: fixed;
  width: 30vw;
  height: 17vw;
  background-color: #582B58;
  border-radius: 1vw;
}

.center-contain{
  padding-top: 11vw;
  display: flex;
  justify-content: center;
}

.blur{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  backdrop-filter: blur(10px);
}

.compressor{
  position: absolute;
  right: 5%;
  bottom: 1vw;
  width: 90%;
}

.space-button{
  margin-right: 1vw;
}

.compressor-flex{
  display: flex;
  position: absolute;
  right: 2%;
  bottom: 1vw;
  width: 78%;
}

.contain-top{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 1.2vw;
}

.icon-alert-delete{
  width: 5vw;
  height: 5vw;
  background-color: #FF6B6B;
  border-radius: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-alert-error{
  width: 5vw;
  height: 5vw;
  background-color: #FFD666;
  border-radius: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-alert-success{
  width: 5vw;
  height: 5vw;
  background-color: #77ED8B;
  border-radius: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.center-text{
  display: flex;
  text-align: center;
  width: 22vw;
}

* img{
  width: 2.5vw;
  height: 2.5vw;
}

@media (max-width: 900px) {
  * h1{
    font-size: 5vw;
  }
  .container-popup{
    width: 85vw;
    height: 65vw;
    border-radius: 4vw;
  }

  .contain-top{
    padding-top: 5vw;
  }

  .icon-alert-delete{
    width: 15vw;
    height: 15vw;
  }

  .icon-alert-error{
    width: 15vw;
    height: 15vw;
  }

  .icon-alert-success{
    width: 15vw;
    height: 15vw;
  }

  .center-text{
    width: 70vw;
  }

  * img{
    width: 10vw;
    height: 10vw;
  }
}

@media (max-width: 700px) {
  .center-contain {
    padding-top: 50vw;

  }
}

@media (max-width: 900px) {
  .center-contain{
    padding-top: 30vw;

  }
}


